<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>NSC-Math-454 by sergeballif</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
        displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">NSC-Math-454</h1>
        <p class="header">Course files for Abstract Algebra II at Nevada State College.</p>

        <ul>
          <li class="download"><a class="buttons" href="/NSC-Math-454/index.html">Schedule</a></li>
          <li class="download"><a class="buttons" href="/NSC-Math-454/Syllabus.html">Syllabus</a></li>
          <li><a class="buttons github" href="/NSC-Math-454/Specifications.html">Specifications</a></li>
          <li><a class="buttons github" href="/NSC-Math-454/LearningObjectives.html">Objectives</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/sergeballif">sergeballif</a></p>

	<title>{{ page.title }}</title>
      </header>
      <section>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
		<div class="container">
{{ content }}
		</div><!-- /.container -->
      </section>
    </div>

      </section>
      <footer>
        <p><small>Thanks to [Robert Talbert](https://github.com/RobertTalbert/modernalgebra) who supplied many of the course files.</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
